apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-tlvbpwxz
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-tlvbpwxz:01e061f1fac71205eec0de38182d45be90efa05a@sha256:4aa86845e32710596bcd443dd92f5ab4a0de75f3743fedc3d55a05c8429cc516
        name: container-image  
